<!-- Header -->
<?php include_once 'db.php'; ?>
        <header id="header">
				<div class="inner">

          <%= link_to "Spletna uÄiulnica", root_path, :class => "logo" %>
					<nav id="nav">
            <% if user_signed_in? %>
          

            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>
